*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* <--------------Container------------> */
.container{
    width: 100%;
    margin: 0 auto;
}
@media (min-width:1250px){
    .container{
        width: 1170px;
    }
}




/* <--------------Fonts------------> */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');






/* <-------------------colors-----------> */




:root{
    --bg-primary:#1c4671;
    --primary:#18ba60;
    --secondary:#777777;
}





/* <------------------Utility Classes-----------> */




.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}





/* <----------------TopBar------> */




section#header-top{
    background-color: var(--bg-primary);
    padding: 1rem 0;
    border-bottom: 1px solid #496b8d;
}
section#header-top i{
    color: white;
    margin-right: 0.5rem;
}
section#header-top span{
    color: white;
    font-size: 12pt;
}
section#header-top span a{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}
section#header-top .container .devider{
    margin-right: 1rem;
    color: #496b8d;
}





/* <----------------NavBar------> */



nav{
    background-color: var(--bg-primary);
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14pt;
    margin-right: 1rem;
    text-transform: uppercase;
}
nav button{
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}
nav i{
    color: white;
    font-size: 14pt;
    margin-left: -50px;
    color: black;
}
nav input{
    height: 20pt;
    display: inline-block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
    border: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 0.5rem;

    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    width: 130px;
}
nav form{
    display: inline-block;
}




/* <-------------------Hero Area----------------------> */
header{
    height: 634px;
    background-color: var(--bg-primary);
}
header .container h1{
    font-size: 55px;
    color: white;
    padding-top: 10rem;
}
header .container p{
    color: white;
    width: 50%;
    font-weight: 500;
    line-height: 1.5em;
    margin: 10px 0;
}
header .container .flex a{
    padding:0.8rem 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin: 2rem 0;
    margin-right: 2rem;
    text-decoration: none;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}
header .container .flex a:first-child{
    background-color: var(--primary);
    border: 3px solid transparent;
}
header .container .flex a:first-child:hover{
    background: none;
    border: 3px solid var(--primary);
}
header .container .flex a:last-child{
    border: 3px solid var(--primary);
}
header .container .flex a:last-child:hover{
    background-color: var(--primary);
}
header button{
    margin: 0 auto;
    display: block;
    color: white;
    background-color: none;
    border: none;
    outline: none;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

header .scroll-button button{
    background: none;
    outline: none;
    background-color:transparent;
    position: relative;
    top: 40px;
    cursor: pointer;
}
header .scroll-button button:hover{
    top: 50px;
}
header .scroll-button button img{
   width:60px;
   height: 80px;
}





/* <------------about----------> */


section#about{
    padding: 100px 0;
}
section#about .container > h2{
    text-align: center;
    font-size: 30pt;
}
section#about .container > span{
    display:block;
    height: 6px;
    width:50px;
    background-color: var(--primary);
    margin: 1rem auto;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
section#about .container p{
    font-family: 'Lato', sans-serif;
    color: var(--secondary);
    width: 800px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5em;
}

section#about .container .boxes{
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    margin-top: 3rem;
}
section#about .container .boxes h2{
    font-weight: 600;
    font-size: 21px;
    text-align: center;
    color: #252525;
    margin: 1rem 0;
}
section#about .container .boxes span{
    display:block;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    color: var(--secondary);
}






/* <------------------anylitics------------------> */





section#anylitics{
    height: 160px;
    background-color: var(--bg-primary);
}
section#anylitics .container .box{
    padding-top: 40px;
}
section#anylitics .container .box span{
    display: block;
    width: 4px;
    height: 55px;
    background-color: var(--primary);
    margin-right: 1rem;
}
section#anylitics .container  .box h1{
    color: white;
    font-weight: 400;
    font-size: 40pt;
}
section#anylitics .container  .box summary{
    font-weight: 500;
    font-size: 13.3pt;
    color: white;
}






/* <------------------Services------------------> */




section#services{
    padding: 100px;
}
section#services > h1{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}
section#services span{
    display: block;
    width: 55px;
    height: 7px;
    background-color: var(--primary);
    margin: 0rem auto;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
section#services .container .first-line-box div,section#services .container .second-line-box div{
    width: 370px;
    height: 300px;
    background-color: #f7f7f7;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 3rem 1rem;
    box-shadow: 0 0 2px grey;
}
section#services .container i{
    font-size: 40pt;
    color: var(--primary);
    margin: 0 auto;
    text-align: center;
    display: block;
}
section#services .container h2{
    font-weight: 500;
    font-size: 20pt;
    text-align: center;
    margin: 1rem 0;
}
section#services .container p{
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    color: var(--secondary);
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
}



/* <-----------------Devider Section-------------> */



section#devider{
    height: 150px;
    background-color: var(--secondary);
    margin-bottom:100px
}





/* <--------------News Section--------------> */




section#news > h1{
    text-align: center;
    font-weight: 500;
    font-size: 30pt;
    padding: 1rem 0;

}
section#news > span{
    display: block;
    height: 7px;
    width: 55px;
    background-color: var(--primary);
    margin: 1rem auto;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin-bottom: 2rem;
}
section#news .container {
    justify-content: space-around;
}
section#news .container .box{
    max-width: 370px;
    cursor: pointer;
    box-shadow: 0 0 1px 0px grey;
}
section#news .container .box:hover{
    box-shadow: 0 0 3px 0px grey;
}
section#news .container .box img{
    width: 100%;
}
section#news .container .box .content{
    padding: 1rem;
}
section#news .container .box span{
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
section#news .container .box h2{
    font-weight: 600;
    font-size: 18px;
    margin: 1rem 0;
}
section#news .container .box  p{
    font-size: 16px;
    color: var(--secondary);
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
    padding-bottom: 2rem;
}
section#news>a{
    text-decoration: none;
    color: white;
    background-color: var(--primary);
    text-transform: uppercase;
    padding: 1rem 1rem;
    display: block;
    margin: 0 auto;
    width: 200px;
    font-weight: 500;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}





/* <-------------------Footer--------------------> */



section#footer-top{
    background-color: #29282e;
    padding: 1rem 0;
    border-bottom: 2px solid #25242a;
}
section#footer-top .flex span{
    font-size: 2rem;
    color: #343339;
    margin-right: 1rem;
}
section#footer-top i{
    font-size: 35pt;
    color: var(--primary);
    margin-right: 1rem;
}
section#footer-top .flex p:first-child{
    color: #868686;
    font-size: 16pt;
    font-family: 'Lato', sans-serif;
}
section#footer-top .flex p:last-child{
    font-size: 12pt;
    color: var(--secondary);
    font-family: 'Lato', sans-serif;
}
section#main-foot{
    /* height: 395px; */
    background-color: #29282e;
}
section#main-foot .container{
    justify-content: space-between;
}
section#main-foot .container >div > h1{
    font-weight: 600;
    font-size: 20pt;
    color: white;
    margin-top: 100px;
}
section#main-foot .container >div span{
    display: block;
    height: 5px;
    width: 60px;
    background-color: #47464d;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin: 3rem 0;
}
section#main-foot .container .box-1{
    width: 270px;
    margin-right: 2rem;
}
section#main-foot .container .box-1 p{
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    color: var(--secondary);
}
section#main-foot .container .box-1 .social-icons i{
    font-size: 16pt;
    color: white;
    background-color: #343339;
    width:40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 20px 5px;
    cursor: pointer;
}
section#main-foot .container .box-2{
    flex-basis: 250px;
    margin-right: 1rem;
}
section#main-foot .container .box-2 i{
    color: #868686;
    font-size: 12pt;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}
section#main-foot .container .box-2  a{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #a7a0a0;
    text-decoration: none;
    margin-right: 1rem;
}
section#main-foot .container .box-3{
    flex-basis: 300px;
    margin-right: 1rem;
}
section#main-foot .container .box-3 i{
    color: #fefffe;
    font-size: 14pt;
}
section#main-foot .container .box-3 a{
    text-decoration: none;
    color: #fefffe;
}
section#main-foot .container .box-3 p{
    font-family: 'Lato', sans-serif;
    color: #737373;
    line-height: 1.5em;
    font-size: 14pt;
    margin-bottom: 1rem;
}
section#main-foot .container .box-4{
    flex-basis: 270px;
    margin-left: 1rem;
}
section#main-foot .container .box-4 input{
    display: block;
    background-color:#343339;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    width: 100%;
}
section#main-foot .container .box-4 button{
    background-color: var(--primary);
    outline: none;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}



/* <------------------footer-bottom------------> */
section#footer-bottom{
    background-color: #212025;

}
section#footer-bottom p{
    color: var(--secondary);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem;
}
section#footer-bottom a{
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}


